.analysis {
    min-width: 30%;
}

.analysisItems {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.analysisWords {
}
.analysisOften {
    word-break: break-all;
}
