.editableNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    padding: 20px;
}
.editableNoteTitle {
    width: 100%;
}
.editableNoteText {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
    background-image: linear-gradient(to bottom right, #f5f7fa, #f1f1f1);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 16px;
}
.editableNoteButtons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.editableNoteSave, .editableNoteReset {
    min-width: 70%;
    letter-spacing: 0.2em;
    background-color: #1976d2;
    color: white;
}
.editableNoteSave:hover, .editableNoteReset:hover {
    background-color: #77abdf;
} 
.errorModal {
    position: absolute;
    background-color: white;
    min-width: 20%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .notesInfo {
        flex-direction: column;
    }
    .editableNoteButtons {
        gap: 20%;
    }
    .editableNoteSave, .editableNoteReset {
        min-width: 30%;
    }
}
